/* EX1  */
/* 
.hihi {
  width: 900px;
}
.hihi div {
  background-color: rgb(236, 200, 156);
  width: 850px;
  border-left: 10px solid coral;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 10px;
} */

/* EX2 */

/* .title1 {
  width: 500px;
  border: 3px solid green;
  background-position: 30px;
  text-align: center;
}

.kk {
  border-radius: 5px;
  width: 500px;
  background-color: #e5e8ed;
  border-left: 30px;
  padding: 10px;
}

.brow {
  color: #deb887;
}
.title {
  color: #b72418;
}
.blue {
  color: #161696;
}
.background {
  background-color: #ffffff;
  border-left: 5px solid #07ab6f;
}
.anvao {
  background-color: #07ab6f;
  border: 0px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
}
.title3 {
  background-color: #f4f5f5;
  color: #b72418;
} */

/* EX3 */

/* .blog-container {
  width: 460px;
}
.blog-container img {
  width: 100%;
}
.blog-container h2 {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.blog-container p {
  font-size: 300;
} */

/* EX4 */

/* .image {
  background-color: #879097;
  width: 280px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  color: #dce5ec;
}
.pp {
  padding-left: 20px;
  border: 1px;
  width: 258px;

  border: 1px solid #e4e4e4;
}

.khung1 {
  padding-left: 20px;
  width: 258px;
  border: 1px solid #e4e4e4;
  height: 20px;
}
.khung2 {
  width: 258px;
  border: 1px solid #e4e4e4;
  height: 20px;
  padding-left: 20px;
}
.khung3 {
  width: 258px;
  border: 1px solid #e4e4e4;
  height: 20px;
  padding-left: 20px;
}
.khung4 {
  width: 258px;
  border: 1px solid #e4e4e4;
  height: 30px;
  padding-left: 20px;
  text-align: left;
} */

/* EX5 */

/* .stile1 {
  border: 1px solid #dedede;
  width: 1466px;
  text-align: center;
}
.stile {
  border: 1px solid #dedede;
  width: 1465px;
  background-color: #ffffff;
}
.stile2 {
  height: 30px;
  background-color: #f7f7f7;
  text-align: center;
}
.stile9 {
  background-color: #f7f7f7;
  text-align: center;
}
.stile5 {
  background-color: #0b6efd;
  color: #dedede;
  border-radius: 5px;
} */

/* EX6 */

/* .sub1 {
  width: 400px;
  border: 1px solid #dedede;
  padding-left: 20px;
  padding-top: 20px;
}
.sub2 {
  width: 400px;
  padding-left: 20px;
  border: 1px solid #dedede;
  padding-top: 20px;
}
.sub3 {
  padding-left: 20px;
  border: 1px solid #dedede;
  padding-top: 20px;
  width: 400px;
}
.hihi {
  background-color: #0c68ff;
  color: #dedede;
  border-radius: 10px;
  margin-left: 200px;
} */

/* EX7 */
/* 
.helloo {
  border: 1px solid #dedede;
  width: 550px;
}
.hello2 {
  padding-left: 20px;
  height: 40px;
  padding-top: 10px;
}
.hello {
  padding-left: 20px;
}

.hello3 {
  height: 40px;
  background-color: #0b6efd;
  border-radius: 5px;
  color: aliceblue;
  margin-left: 400px;
  margin-bottom: 10px;
} */

/* EX8 */

/* .vip11 {
  color: #2a57cf;
  border: 1px solid #e6e5eb;
  width: 650px;
  padding-left: 20px;
}
.vip12 {
  border: 1px solid #e6e5eb;
  width: 650px;
  padding-left: 20px;
}
.vip13 {
  border: 1px solid #e6e5eb;
  width: 650px;
  padding-left: 20px;
}
.vip14 {
  border: 1px solid #e6e5eb;
  width: 650px;
  padding-left: 20px;
}
.red {
  color: red;
}
.right {
  margin-left: 500px;
} */

/* EX9 */
/* 
.ex9 {
  background-color: #0478ff;
  border-radius: 5px;
  margin: 10px;
}
.vip2 {
  margin-left: 180px;
  color: #737a80;
}
.vip {
  border: 1px solid #cccdcf;
  width: 400px;
  margin: 50px;
}
.vip3 {
  margin: 10px;
}
.vip1 {
  color: #737a80;
} */

/* EX10 */

/* .a1 {
  border: 1px solid rgb(216, 213, 213);
  width: 300px;
  height: 450px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.a1 img {
  width: 250px;
  height: 250px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}
.text {
  margin-top: 10px;
  margin-left: 25px;
}
.aaa {
  text-align: center;
} */

/* EX11 */

/* .vuong {
  border: 5px solid red;
  width: 300px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.khung {
  width: 300px;
  height: 392px;
}

.khung .khung1 {
  width: 260px;
  height: 260px;
  border-radius: 130px;
  border: 2px solid #e8e6e6;
  box-shadow: 2px;
  margin: 20px;
}
img {
  width: 240px;
  height: 243px;
  border-radius: 120px;
  margin: 7px;
}
h4 {
  color: #b3b3b3;
  text-align: center;
}
h3 {
  text-align: center;
} */
